*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
  }
  
  body{
    height:100vh;
    overflow:hidden;
    background:
    linear-gradient(
      to bottom right,
      #050816,
      #120b2e,
      #1e1b4b
    );
  
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    color:white;
  }
  
  /* MAIN CARD */
  
  .birthday-card{
    width:90%;
    max-width:850px;
  
    padding:60px 40px;
  
    background:rgba(255,255,255,0.08);
  
    backdrop-filter:blur(18px);
  
    border:1px solid rgba(255,255,255,0.1);
  
    border-radius:30px;
  
    text-align:center;
  
    box-shadow:
    0 0 40px rgba(96,165,250,0.3);
  
    z-index:10;
  
    animation:floatCard 4s ease-in-out infinite;
  }
  
  @keyframes floatCard{
  
    0%,100%{
      transform:translateY(0px);
    }
  
    50%{
      transform:translateY(-10px);
    }
  
  }
  
  /* HEADINGS */
  
  h2{
    font-size:2.5rem;
    color:#c084fc;
  }
  
  .line{
    margin-top:20px;
    font-size:1.4rem;
    color:#dbeafe;
  }
  
  h1{
    margin-top:35px;
  
    font-size:4rem;
  
    line-height:1.3;
  
    background:
    linear-gradient(
      to right,
      #60a5fa,
      #c084fc,
      #ffffff
    );
  
    -webkit-background-clip:text;
  
    color:transparent;
  }
  
  .wish{
    margin-top:30px;
  
    font-size:1.4rem;
  
    line-height:2;
  
    color:#e2e8f0;
  }
  
  .wish span{
    color:#60a5fa;
    font-weight:bold;
  }
  
  /* BUTTON */
  
  button{
    margin-top:40px;
  
    padding:15px 35px;
  
    border:none;
  
    border-radius:40px;
  
    background:
    linear-gradient(
      to right,
      #60a5fa,
      #a855f7
    );
  
    color:white;
  
    font-size:1rem;
  
    cursor:pointer;
  
    transition:0.4s;
  
    box-shadow:
    0 0 25px #60a5fa;
  }
  
  button:hover{
    transform:scale(1.1);
  }
  
  /* BALLOONS */
  
  .balloons{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
  }
  
  .balloon{
    position:absolute;
  
    width:80px;
    height:100px;
  
    border-radius:50%;
  
    animation:float 10s linear infinite;
  }
  
  .balloon::after{
    content:'';
  
    position:absolute;
  
    width:2px;
    height:120px;
  
    background:white;
  
    top:100px;
    left:40px;
  }
  
  .b1{
    background:#60a5fa;
    left:10%;
    animation-delay:0s;
  }
  
  .b2{
    background:#f472b6;
    left:30%;
    animation-delay:2s;
  }
  
  .b3{
    background:#c084fc;
    left:50%;
    animation-delay:4s;
  }
  
  .b4{
    background:#34d399;
    left:70%;
    animation-delay:1s;
  }
  
  .b5{
    background:#facc15;
    left:90%;
    animation-delay:3s;
  }
  
  @keyframes float{
  
    0%{
      transform:translateY(100vh);
    }
  
    100%{
      transform:translateY(-150vh);
    }
  
  }
  
  /* STARS */
  
  .stars::before,
  .stars::after{
  
    content:'';
  
    position:absolute;
  
    width:100%;
    height:100%;
  
    background-image:
    radial-gradient(white 1px, transparent 1px);
  
    background-size:50px 50px;
  
    opacity:0.2;
  
    animation:moveStars 30s linear infinite;
  }
  
  @keyframes moveStars{
  
    from{
      transform:translateY(0);
    }
  
    to{
      transform:translateY(-100px);
    }
  
  }
  
  /* CONFETTI */
  
  canvas{
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
  }
  
  /* MOBILE */
  
  @media(max-width:768px){
  
    h1{
      font-size:2.5rem;
    }
  
    h2{
      font-size:1.8rem;
    }
  
    .wish,
    .line{
      font-size:1.1rem;
    }
  
    .birthday-card{
      padding:40px 25px;
    }
  
  }